<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <h1>
        Name: <%= user[0].u_name %>
    </h1>

    <img src="<%= user[0].image %>" class="img" alt="<%= user[0].u_name %>">
    <p>"<%= user[0].dob %> "</p> 
      <h2> Mobile: <%= user[0].mobile%></h2>
      <h3> Address: <%= user[0].p_address%></h3> 

</body>

</html>